<a href="https://colab.research.google.com/github/Yasha-Wadhawan/PW/blob/main/PW_Pandas_part4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# drop function
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

In [ ]:
# in oder to delete row or column use drop function
df.drop('PassengerId', axis=1)                                    # this drop is NOT permanent // use inplace = True for permanent drop // or re asingh it df = ......

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# how to drop rows
df.drop([3,5,8])                         # can drop multiple rows or columns by putting it in list

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# How to make any column as index
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html

# how to reset index as default
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html

In [ ]:
df.set_index("Name", inplace=True)                     # use inplce to make it parmanent

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Reset the index of the DataFrame, and use the default (0,1,2,3) one instead.
df.reset_index()

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# make a dic
d = { 'key1':[1,2,3,4,5],
     'key2' : [6,7,8,9,10],
      'key3' : [11,12,13,14,15],
      'key4' :[16,17,18,19,20]
}

In [ ]:
# how to convert dic into data frame            # by all rows must have same value
# dic key will become column
pd.DataFrame(d)

   key1  key2  key3  key4
0     1     6    11    16
1     2     7    12    17
2     3     8    13    18
3     4     9    14    19
4     5    10    15    20

In [ ]:
df1 = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQJKj5h7yoaXWT5OZGQCVosFTzM_J6gPcL6yEXoOfrt4eQbuePYNRXvWMbKOh6gUnfbik1ShOwOQFNR/pub?gid=1242802914&single=true&output=csv")

In [ ]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

# How to drop entire row/column which cotain NaN

In [ ]:
df1.dropna()                            # rows that contain NaN will be deleted / by default it is row    / no permanenet change

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5    0101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [ ]:
df1.dropna(axis=1)

    taxonomy_id                          name
0           101                     Emergency
1        101-01             Disaster Response
2        101-02                Emergency Cash
3    0101-02-01             Help Pay for Food
4    0101-02-02       Help Pay for Healthcare
..          ...                           ...
285  0111-01-07              Workplace Rights
286      111-02                     Mediation
287      111-03                        Notary
288      111-04                Representation
289      111-05  Translation & Interpretation

[290 rows x 2 columns]

In [ ]:
df1.fillna('yasha')                  # not permanent

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency     yasha                 yasha
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3    0101-02-01             Help Pay for Food    101-02        Emergency Cash
4    0101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285  0111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

# groupby operation

In [ ]:
g1 = df.groupby('Survived')                    # here group of survived will be created that is group of unique values 1 and 0 in this case

In [ ]:
g1                                    # you will get the g1 data frame and can apply any operations on it accordingely

In [ ]:
g1.max()

<ipython-input-80-7aecbf41c417>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  g1.max()

,Name,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare
Survived,,,,,,,,,
0,"van Melkebeke, Mr. Philemon",891,3,male,74.0,8,6,WE/P 5735,263.0000
1,"de Mulder, Mr. Theodore",890,3,male,80.0,4,5,WE/P 5735,512.3292

In [ ]:
g1.sum()

<ipython-input-81-54c8c70a6245>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g1.sum()

          PassengerId  Pclass       Age  SibSp  Parch        Fare
Survived
0              245412    1390  12985.50    304    181  12142.7199
1              151974     667   8219.67    162    159  16551.2294

In [ ]:
g1.mean()

<ipython-input-82-71b5d8821406>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g1.mean()

          PassengerId    Pclass        Age     SibSp     Parch       Fare
Survived
0          447.016393  2.531876  30.626179  0.553734  0.329690  22.117887
1          444.368421  1.950292  28.343690  0.473684  0.464912  48.395408

In [ ]:
# make a group of pasanger class and tell how much average was paid by each  class

g2 = df.groupby('Pclass')

In [ ]:
g2.mean().transpose()                      # notice average age

<ipython-input-84-daa840e9db24>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g2.mean().transpose()                      # notice average age

Pclass                1           2           3
PassengerId  461.597222  445.956522  439.154786
Survived       0.629630    0.472826    0.242363
Age           38.233441   29.877630   25.140620
SibSp          0.416667    0.402174    0.615071
Parch          0.356481    0.380435    0.393075
Fare          84.154687   20.662183   13.675550

In [ ]:
g2.sum().T                                                # .T will make rows into column and columns into rows  aka transpose

<ipython-input-85-a0d4326e254c>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g2.sum().T                                                # .T will make rows into column and columns into rows  aka transpose

Pclass                1           2            3
PassengerId  99705.0000  82056.0000  215625.0000
Survived       136.0000     87.0000     119.0000
Age           7111.4200   5168.8300    8924.9200
SibSp           90.0000     74.0000     302.0000
Parch           77.0000     70.0000     193.0000
Fare         18177.4125   3801.8417    6714.6951

In [ ]:
g2.max()['Fare']                             # as g2 is data frame only so can take out any column as well

<ipython-input-86-b7bdc99ca998>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  g2.max()['Fare']                             # as g2 is data frame only so can take out any column as well

Pclass
1    512.3292
2     73.5000
3     69.5500
Name: Fare, dtype: float64

# Merge, join, concatenate and compare

# go to notebook name (PW Pandas part4.2) for this in detail

https://pandas.pydata.org/docs/user_guide/merging.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

# IMP DIFFERENCE BW CONCATINATE AND MERGE
https://towardsdatascience.com/3-key-differences-between-merge-and-concat-functions-of-pandas-ab2bab224b59

# difference bw merge and join

in merge the we see common column and its respective elements>>> in join we see common index and its respective elements

sometimes merge and join terms are used interchangebely
>
>
>
# THESE JOIN IN CONCATITANE AND MERGE JOINS ARE ALL RELATED TO VEIN DIAGRAM
INNER  IS INTERSECTION

OUTER  IS UNION

LEFT  IS (A-B)

RIGHT IS (B-A)

In [ ]:
df

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df5 = df[['Name','PassengerId','Pclass']][0:5]

In [ ]:
df6 = df[['Name','PassengerId','Pclass']][5:10]

In [ ]:
type(df5)

pandas.core.frame.DataFrame

In [ ]:
df5

                                                Name  PassengerId  Pclass
0                            Braund, Mr. Owen Harris            1       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...            2       1
2                             Heikkinen, Miss. Laina            3       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)            4       1
4                           Allen, Mr. William Henry            5       3

In [ ]:
df6

                                                Name  PassengerId  Pclass
5                                   Moran, Mr. James            6       3
6                            McCarthy, Mr. Timothy J            7       1
7                     Palsson, Master. Gosta Leonard            8       3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)            9       3
9                Nasser, Mrs. Nicholas (Adele Achem)           10       2

# concatination
can be done in 2 ways
1> horizontal
2> vertical

In [ ]:
pd.concat([df5,df6])                                # by default it is vertical concatinate

                                                Name  PassengerId  Pclass
0                            Braund, Mr. Owen Harris            1       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...            2       1
2                             Heikkinen, Miss. Laina            3       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)            4       1
4                           Allen, Mr. William Henry            5       3
5                                   Moran, Mr. James            6       3
6                            McCarthy, Mr. Timothy J            7       1
7                     Palsson, Master. Gosta Leonard            8       3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)            9       3
9                Nasser, Mrs. Nicholas (Adele Achem)           10       2

In [ ]:
pd.concat([df5,df6] , axis =1)                        # concatinate horizontal wise

,Name,PassengerId,Pclass,Name,PassengerId,Pclass
0,"Braund, Mr. Owen Harris",1.0,3.0,NaN,NaN,NaN
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2.0,1.0,NaN,NaN,NaN
2,"Heikkinen, Miss. Laina",3.0,3.0,NaN,NaN,NaN
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4.0,1.0,NaN,NaN,NaN
4,"Allen, Mr. William Henry",5.0,3.0,NaN,NaN,NaN
5,NaN,NaN,NaN,"Moran, Mr. James",6.0,3.0
6,NaN,NaN,NaN,"McCarthy, Mr. Timothy J",7.0,1.0
7,NaN,NaN,NaN,"Palsson, Master. Gosta Leonard",8.0,3.0
8,NaN,NaN,NaN,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9.0,3.0
9,NaN,NaN,NaN,"Nasser, Mrs. Nicholas (Adele Achem)",10.0,2.0

In [ ]:
df7 = pd.concat([df5,df6] , axis =1)

In [ ]:
df7.fillna('yasha')

,Name,PassengerId,Pclass,Name,PassengerId,Survived
0,"Braund, Mr. Owen Harris",1.0,3.0,yasha,yasha,yasha
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2.0,1.0,yasha,yasha,yasha
2,"Heikkinen, Miss. Laina",3.0,3.0,yasha,yasha,yasha
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4.0,1.0,yasha,yasha,yasha
4,"Allen, Mr. William Henry",5.0,3.0,yasha,yasha,yasha
5,yasha,yasha,yasha,"Moran, Mr. James",6.0,0.0
6,yasha,yasha,yasha,"McCarthy, Mr. Timothy J",7.0,0.0
7,yasha,yasha,yasha,"Palsson, Master. Gosta Leonard",8.0,0.0
8,yasha,yasha,yasha,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9.0,1.0
9,yasha,yasha,yasha,"Nasser, Mrs. Nicholas (Adele Achem)",10.0,1.0

# merge operation
so merge will 1st see which COLUMN is common in both the data frame
<<2nd>> it will see which elements of that common COLUMN are same, so only these elements will be taken and simontaniously all the columns will take elemnts of same position

# keep in mind the vain diagram concept
inner, left outer, right outer, full

In [ ]:
data1 = pd.DataFrame({ 'key1':[1,2,3,4,5],
     'key2' : [6,7,8,9,10],
      'key3' : [11,12,13,14,15],
      'key4' :[16,17,18,19,20]
})

In [ ]:
data2 = pd.DataFrame({ 'key1':[1,27,3,46,5],
     'key5' : [6,74,8,98,10],
      'key6' : [114,12,163,14,15],
      'key7' :[16,197,18,819,20]
})

In [ ]:
data1

   key1  key2  key3  key4
0     1     6    11    16
1     2     7    12    17
2     3     8    13    18
3     4     9    14    19
4     5    10    15    20

In [ ]:
data2

   key1  key5  key6  key7
0     1     6   114    16
1    27    74    12   197
2     3     8   163    18
3    46    98    14   819
4     5    10    15    20

In [ ]:
pd.merge(data1,data2)

   key1  key2  key3  key4  key5  key6  key7
0     1     6    11    16     6   114    16
1     3     8    13    18     8   163    18
2     5    10    15    20    10    15    20

In [ ]:
pd.merge(data1,data2, how = 'right')

   key1  key2  key3  key4  key5  key6  key7
0     1   6.0  11.0  16.0     6   114    16
1    27   NaN   NaN   NaN    74    12   197
2     3   8.0  13.0  18.0     8   163    18
3    46   NaN   NaN   NaN    98    14   819
4     5  10.0  15.0  20.0    10    15    20

In [ ]:
pd.merge(data1,data2, how = 'left')                                  # here the dataframe put first is left and second is right

   key1  key2  key3  key4  key5   key6  key7
0     1     6    11    16   6.0  114.0  16.0
1     2     7    12    17   NaN    NaN   NaN
2     3     8    13    18   8.0  163.0  18.0
3     4     9    14    19   NaN    NaN   NaN
4     5    10    15    20  10.0   15.0  20.0

In [ ]:
pd.merge(data1,data2, how = 'outer')

   key1  key2  key3  key4  key5   key6   key7
0     1   6.0  11.0  16.0   6.0  114.0   16.0
1     2   7.0  12.0  17.0   NaN    NaN    NaN
2     3   8.0  13.0  18.0   8.0  163.0   18.0
3     4   9.0  14.0  19.0   NaN    NaN    NaN
4     5  10.0  15.0  20.0  10.0   15.0   20.0
5    27   NaN   NaN   NaN  74.0   12.0  197.0
6    46   NaN   NaN   NaN  98.0   14.0  819.0

In [ ]:
pd.merge(data1,data2, how = 'cross')

    key1_x  key2  key3  key4  key1_y  key5  key6  key7
0        1     6    11    16       1     6   114    16
1        1     6    11    16      27    74    12   197
2        1     6    11    16       3     8   163    18
3        1     6    11    16      46    98    14   819
4        1     6    11    16       5    10    15    20
5        2     7    12    17       1     6   114    16
6        2     7    12    17      27    74    12   197
7        2     7    12    17       3     8   163    18
8        2     7    12    17      46    98    14   819
9        2     7    12    17       5    10    15    20
10       3     8    13    18       1     6   114    16
11       3     8    13    18      27    74    12   197
12       3     8    13    18       3     8   163    18
13       3     8    13    18      46    98    14   819
14       3     8    13    18       5    10    15    20
15       4     9    14    19       1     6   114    16
16       4     9    14    19      27    74    12   197
17       4     9    14    19       3     8   163    18
18       4     9    14    19      46    98    14   819
19       4     9    14    19       5    10    15    20
20       5    10    15    20       1     6   114    16
21       5    10    15    20      27    74    12   197
22       5    10    15    20       3     8   163    18
23       5    10    15    20      46    98    14   819
24       5    10    15    20       5    10    15    20

In [ ]:
pd.merge(data1,data2, how = 'outer')

   key1  key2  key3  key4  key5   key6   key7
0     1   6.0  11.0  16.0   6.0  114.0   16.0
1     2   7.0  12.0  17.0   NaN    NaN    NaN
2     3   8.0  13.0  18.0   8.0  163.0   18.0
3     4   9.0  14.0  19.0   NaN    NaN    NaN
4     5  10.0  15.0  20.0  10.0   15.0   20.0
5    27   NaN   NaN   NaN  74.0   12.0  197.0
6    46   NaN   NaN   NaN  98.0   14.0  819.0

# Join operation

join is very similar to merge the only difference is merge is column based and join in index based

in merge how is inner and in join how is left by default

In [ ]:
data3 = pd.DataFrame({ 'key1':[1,2,3,4,5],
     'key2' : [6,7,8,9,10],
      'key3' : [11,12,13,14,15],
      'key4' :[16,17,18,19,20]},
       index = ['a','b','c','d','f']
                     )

In [ ]:
data4 = pd.DataFrame({ 'key8':[1,27,3,46,5],                         # call columns name are kept diferent but 2 index anme is same from data3
     'key5' : [6,74,8,98,10],
      'key6' : [114,12,163,14,15],
      'key7' :[16,197,18,819,20]},
       index = ['a','b','h','i','j']
                     )

In [ ]:
data3

   key1  key2  key3  key4
a     1     6    11    16
b     2     7    12    17
c     3     8    13    18
d     4     9    14    19
f     5    10    15    20

In [ ]:
data4

   key8  key5  key6  key7
a     1     6   114    16
b    27    74    12   197
h     3     8   163    18
i    46    98    14   819
j     5    10    15    20

In [ ]:
data3.join(data4)                                    # in join by default how = 'Left'

   key1  key2  key3  key4  key8  key5   key6   key7
a     1     6    11    16   1.0   6.0  114.0   16.0
b     2     7    12    17  27.0  74.0   12.0  197.0
c     3     8    13    18   NaN   NaN    NaN    NaN
d     4     9    14    19   NaN   NaN    NaN    NaN
f     5    10    15    20   NaN   NaN    NaN    NaN

In [ ]:
data3.join(data4, how='right')

   key1  key2  key3  key4  key8  key5  key6  key7
a   1.0   6.0  11.0  16.0     1     6   114    16
b   2.0   7.0  12.0  17.0    27    74    12   197
h   NaN   NaN   NaN   NaN     3     8   163    18
i   NaN   NaN   NaN   NaN    46    98    14   819
j   NaN   NaN   NaN   NaN     5    10    15    20

In [ ]:
data3.join(data4, how='inner')

   key1  key2  key3  key4  key8  key5  key6  key7
a     1     6    11    16     1     6   114    16
b     2     7    12    17    27    74    12   197

In [ ]:
data3.join(data4, how='outer')

   key1  key2  key3  key4  key8  key5   key6   key7
a   1.0   6.0  11.0  16.0   1.0   6.0  114.0   16.0
b   2.0   7.0  12.0  17.0  27.0  74.0   12.0  197.0
c   3.0   8.0  13.0  18.0   NaN   NaN    NaN    NaN
d   4.0   9.0  14.0  19.0   NaN   NaN    NaN    NaN
f   5.0  10.0  15.0  20.0   NaN   NaN    NaN    NaN
h   NaN   NaN   NaN   NaN   3.0   8.0  163.0   18.0
i   NaN   NaN   NaN   NaN  46.0  98.0   14.0  819.0
j   NaN   NaN   NaN   NaN   5.0  10.0   15.0   20.0

In [ ]:
data3.join(data4, how='cross')

    key1  key2  key3  key4  key8  key5  key6  key7
0      1     6    11    16     1     6   114    16
1      1     6    11    16    27    74    12   197
2      1     6    11    16     3     8   163    18
3      1     6    11    16    46    98    14   819
4      1     6    11    16     5    10    15    20
5      2     7    12    17     1     6   114    16
6      2     7    12    17    27    74    12   197
7      2     7    12    17     3     8   163    18
8      2     7    12    17    46    98    14   819
9      2     7    12    17     5    10    15    20
10     3     8    13    18     1     6   114    16
11     3     8    13    18    27    74    12   197
12     3     8    13    18     3     8   163    18
13     3     8    13    18    46    98    14   819
14     3     8    13    18     5    10    15    20
15     4     9    14    19     1     6   114    16
16     4     9    14    19    27    74    12   197
17     4     9    14    19     3     8   163    18
18     4     9    14    19    46    98    14   819
19     4     9    14    19     5    10    15    20
20     5    10    15    20     1     6   114    16
21     5    10    15    20    27    74    12   197
22     5    10    15    20     3     8   163    18
23     5    10    15    20    46    98    14   819
24     5    10    15    20     5    10    15    20

In [ ]:
df

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

# now convert the fare column of $ into Rs

# what is mapping in python
https://www.codingem.com/mapping-in-python/

# in this following code we are using a function which with the help of apply() we will map it to all the elements

# apply()
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

# lanbda function
https://www.freecodecamp.org/news/python-lambda-function-explained/#:~:text=Lambda%20functions%20are%20similar%20to,single%20line%20of%20a%20statement.

In [ ]:
df['fare_INR'] =df['Fare'].apply(lambda x : x*73)                               # mapping function

In [ ]:
df

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_INR
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,529.2500
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,5203.6809
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,578.5250
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S,3876.3000
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,587.6500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S,949.0000
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S,2190.0000
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1711.8500
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C,2190.0000
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q,565.7500

In [ ]:
# the above work can be done in different way as well
def euro_to_inr(x):
  return x*73

df['Rs_fare'] = df['Fare'].apply(euro_to_inr)

In [ ]:
df

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_INR,Rs_fare
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,529.2500,529.2500
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,5203.6809,5203.6809
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,578.5250,578.5250
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S,3876.3000,3876.3000
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,587.6500,587.6500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S,949.0000,949.0000
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S,2190.0000,2190.0000
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1711.8500,1711.8500
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C,2190.0000,2190.0000
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q,565.7500,565.7500

# make a column which stores the length of the characters

In [ ]:
def len_name(x):
  y = len(x)
  return y

df['char_len'] = df['Name'].apply(len_name)

# can do this in this way as well
# df['char_len'] = df['Name'].apply(len)                                        # as len is the function and apply() take fun as a parameter

In [ ]:
df

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_INR,Rs_fare,char_len
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,529.2500,529.2500,23
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,5203.6809,5203.6809,51
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,578.5250,578.5250,22
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S,3876.3000,3876.3000,44
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,587.6500,587.6500,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S,949.0000,949.0000,21
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S,2190.0000,2190.0000,28
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1711.8500,1711.8500,40
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C,2190.0000,2190.0000,21
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q,565.7500,565.7500,19

# make a catagorical column which consist of if fare being divided into 3 categories that is cheap, medium, high

In [ ]:
def fare_cato(x):
  if x<=10:
    return 'cheap'
  elif x<=50:
    return 'medium'
  else:
    return 'high'

df['cate_fare'] = df['Fare'].apply(fare_cato)

In [ ]:
df

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_INR,Rs_fare,char_len,cate_fare
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,529.2500,529.2500,23,cheap
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,5203.6809,5203.6809,51,high
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,578.5250,578.5250,22,cheap
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S,3876.3000,3876.3000,44,high
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,587.6500,587.6500,24,cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S,949.0000,949.0000,21,medium
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S,2190.0000,2190.0000,28,medium
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1711.8500,1711.8500,40,medium
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C,2190.0000,2190.0000,21,medium
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q,565.7500,565.7500,19,cheap